@tailwind base;
@tailwind components;
@tailwind utilities;

/* slick does not show its arrow key normally so we have to code it */
.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}